@font-face {
    font-family: "BebasLight";
    src: url("../fonts/BebasLight.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Conda";
    src: url("../fonts/Conda.ttf");
    font-weight: normal;
    font-style: normal;
}

.pad {
    cursor: pointer;
    color: rgb(95, 95, 95);
    margin-top: 5000px;
    display: inline-block;
    position: relative;
}

.trabl {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.welcome {
    color: rgb(158, 158, 158);
    animation: 1.5s ease;
    font-family: BebasLight;
    display: inline;
    justify-content: center;
    position: relative;
    z-index: 1;
    animation-name: rotation;
    font-size: 70px;
    transition: color 1s, letter-spacing 2s;
    text-align: center;
}

.dis {
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.discript-p {
    color: rgb(158, 158, 158);
    font-family: Conda;
    display: inline;
    z-index: 1;
    font-size: 40px;
    user-select: none;
    transition: color 1s;
}

.discript-p:hover {
    color: #ffffff;
    transition: 2s;
    cursor: not-allowed;
}

.welcome:hover {
    color: #ffffff;
    transition: 2s;
    cursor: default;
    letter-spacing: 20px;
    cursor: not-allowed;
}

@media only screen and (max-width: 700px) {
    .discript-p {
        display: none;
    }
    .diss {
        margin-top: 200px;
        display: flex;
        justify-content: center;
    }
    .discript-m {
        color: rgb(158, 158, 158);
        font-family: Conda;
        display: inline;
        z-index: 1;
        font-size: 56px;
        user-select: none;
        transition: color 1s;
        text-align: center;
    }
    .discript-m:hover {
        color: #ffffff;
        transition: 2s;
        cursor: not-allowed;
    }
    .welcome {
        font-size: 60px;
    }
}