@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    }

@font-face {
        font-family: "OpenSansSemiBold";
        src: url("../fonts/OpenSans-Semibold.ttf");
        font-weight: normal;
        font-style: bold;
    }

.kal {
    margin-top: 20000px;
}


.trys {
    color: black;
    animation: anim 1.5s ease;
    font-family: OpenSansRegular;
    display: inline;
    justify-content: center;
    position: relative;
    z-index: 1;
    animation-name: rotation;
    font-size: 50px;
    transition-property: color;
    transition: 1s;
    
}

.trys:hover {
    color: rgb(255, 255, 255);
    transition: 1s;
    cursor: default;
}

@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}
.container {
    position: relative;
    display: flex; 
    justify-content: center;
}

.trabl {
    display: flex;
    justify-content: center;
}

