@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    }

.text_one {
    font-size: 30px;
    padding-top: 90px;
    font-family: OpenSansRegular;
}

.pad {
    cursor: pointer;
    color: #000;
    margin-top: 20000px;
    display: inline-block;
    position: relative;
}

.pad:active, .pad:hover {
    color: rgb(255, 255, 255);
}

.trabl {
    display: flex;
    justify-content: center;
}

.trys {
    color: black;
    animation: 1.5s ease;
    font-family: OpenSansRegular;
    display: inline;
    justify-content: center;
    position: relative;
    z-index: 1;
    animation-name: rotation;
    font-size: 50px;

    transition: color 1s;
    text-align: center;
}

.trys:hover {
    color: #8bf1ff;
    transition: 1s;
    cursor: default;
}

@keyframes rotation {
    100% {
            transform:rotate(360deg);
        }
    }

@media screen and (max-width: 510px) {
    .trys {
      font-size: 40px;
    }
  }

